body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}

.game-container {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #444;
}

#snake {
    position: absolute;
    background-color: #00f;
}

#food {
    position: absolute;
    background-color: #f00;
}
